.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar-logo a {
    text-decoration: none;
    font-weight: 800;
    color: #800020;
    font-size: 1.7rem;
    letter-spacing: -0.5px;
}

.navbar-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
    padding: 5px 0;
}

.nav-link:hover, .nav-link.active {
    color: #800020;
    border-bottom: 2px solid #800020;
}

.badge-link {
    position: relative;
}

.cart-badge {
    background-color: #800020;
    color: white;
    font-size: 0.7rem;
    padding: 2px 7px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -12px;
    font-weight: bold;
}